.ForRent .data{
    color: var(--dec-color);
    text-align: start;
 }
 
 
 .sliderImg{
    height: 350px;
    object-fit: cover; 
    border-radius: 10px;
    width: 360px;

 
 }
 .title{
    margin: 0px 0px;
    color: var(--black);
 }
 .description{
    color: var(--dec-color);
 }
 .agency{
   object-fit: contain;
    width: 30px !important;
   border-radius: 50%;
   margin-top: 5px;
   height: 30px;
 }